/* categories css mobile */
.categories h2 {
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 100px;
  color: #222;
  text-align: center;
  margin-top: 100px;
}

.categories a {
  text-decoration: none;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-bottom: 80px;
}

.category img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.category p {
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 10px;
  font-weight: 500;
  color: #111;
  text-align: center;
}

.shop-now {
  display: flex;
  justify-content: center;
}

.shop-btn {
  background-color: #73672c;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 35px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background 0.2s ease;
  margin-top: 30px;
}

.shop-btn:hover {
  background-color: #73672c;
}



/* collection css mobil */

.collection {
  padding: 20px;
  margin: 100px 15px;
  background-color: #d7cec4;
  border-radius: 50px;
}

.collection p {
  line-height: 1.5;
}

.collection img {
  width: 100%;
  height: auto;
}

/* popup css mobile */
.popup {
  display: none;
  position: fixed;
  top: 10%; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #f5f2ee;
  border: 2px solid #6b613e;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  max-width: 360px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  position: relative;
  padding: 10px;
}

.popup-content h2 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.popup-content p {
  color: #333;
  margin-bottom: 15px;
}

.highlight {
  color: #e09c49;
  font-weight: bold;
}

.icon {
  font-size: 40px;
  color: #6b613e;
  margin: 10px 0;
}

.popup-content input {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 8px auto;
  border: 2px solid #6b613e;
  border-radius: 10px;
  outline: none;
}

.signup {
  background-color: #6b613e;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  transition: background 0.3s;
}

.signup:hover {
  background-color: #857d56;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #6b613e;
}

/* css desktop */

@media (min-width: 800px) {
  .category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 100px;
  }

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .category img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 50%;
  }

  .category p {
    font-size: 16px;
    margin-top: 15px;
  }

  .shop-btn {
    font-size: 16px;
    padding: 15px 45px;
  }


  .collection {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 60px;
    margin: 150px 180px;
    align-items: center;
    margin-bottom: 210px;
  }

  .collection-text h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    letter-spacing: 2px;
  }

  .collection p {
    line-height: 2;
    color: #000000;
    width: 100%;
    width: 90%;
  }

  .collection img {
    width: 100%;
    height: auto;
  }

  /* popup css desktop*/
  .popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #f5f2ee;
  border: 2px solid #6b613e;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  max-width: 360px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  position: relative;
}

.popup-content h2 {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.popup-content p {
  color: #333;
  margin-bottom: 15px;
}

.highlight {
  color: #e09c49;
  font-weight: bold;
}

.icon {
  font-size: 40px;
  color: #6b613e;
  margin: 10px 0;
}

.popup-content input {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 8px auto;
  border: 2px solid #6b613e;
  border-radius: 10px;
  outline: none;
}

.signup {
  background-color: #6b613e;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  transition: background 0.3s;
}

.signup:hover {
  background-color: #857d56;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #6b613e;
}
}